.header {
    background-color: #ffffff !important;
    display: flex;
    justify-self: flex-start;
    align-items: center;
    border-bottom: 1px solid #cfcfcf;
}


.link, .name {
    color: #777E90;
    padding: 0 20px 0;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link:hover {
    color: #777E90;
    background-color: #F5F4F6;
}


.end {
    margin-left: auto;
}

.name:hover {
    background-color: #F5F4F6;
}


.logout_button {
    margin-left: 10px;
    display: none !important;
}

.name:hover .logout_button {
    display: block !important;
}