.wrapper {
    width: 100%;
    max-width: 700px;
    height: 100%;
    padding: 30px 20px 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: start;
    flex-wrap: wrap;
}