.wrapper {
    background-color: #fff;
    border-radius: 5px;
    height: auto;
    padding: 20px 30px 20px;
    margin: auto 20px auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
