.wrapper {
    padding: 50px 50px 20px;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.table {
    background-color: #fff;
    width: 100%;
}