.wrapper {
    padding: 50px 50px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.table {
    background-color: #fff;
    width: 100%;
    min-width: 250px !important;
}

.add_button {
    margin: 20px;
    align-self: flex-end;
}